.edit-content {
    color: var(--rv-text-color);
    flex: 1;
    // overflow: hidden;
   
}
.edit-content-content {
    // display: flex;
    // flex-direction: column;
    width: auto;
    height: 100%;
    color: var(--rv-text-color);
}
h1 {
    color: var(--rv-color-text);
}
h2 {
    color: var(--rv-color-text);
}
h3 {
    color: var(--rv-color-text);
}
h4 {
    color: var(--rv-color-text);
}
h5 {
    color: var(--rv-color-text);
}
h6 {
    color: var(--rv-color-text);
}
