/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

* {
    margin: 0;

}
/* 默认浅色背景 */
:root {
    --background-color: #f6f8fc;
    --icon-color:#000;
    --rv-floating-ball-size:13vw;
}
body{
    background-color: var(--background-color);
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
    :root {
        /* 默认基本背景 */
        --background-color: #555252;
        /* 设置所有组件引用的颜色为黑色背景 */
        --rv-white: black;
        /* 默认文本颜色 */
        --rv-text-color: white;
        /* 默认边框颜色 */
        --rv-border-color: rgb(34, 88, 205);
        /* 深色模式下的自定义图标颜色 */
        --icon-color:#205aac;
        --rv-card-header-color:#c029d4;
        /* rv卡片背景色 */
        --rv-card-background-color: #189bd7;
        /* 卡片字体颜色 */
        --rv-card-color:#fff;
        /* rv单元格背景色 */
        --rv-cell-background-color: #181a1b;
        /* rv导航栏图标颜色 */
        --rv-nav-bar-icon-color:white;
    }
}

/* 浅色模式 */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f07cb6;
        /* rv导航栏图标颜色 */
        --rv-nav-bar-icon-color:black;
    }
}       