/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

* {
    margin: 0;

}

/* 默认浅色背景 */
:root {
    --background-color: #f6f8fc;
    --icon-color: #000;
    --rv-floating-ball-size: 13vw;
}

body {
    background: var(--background-color);
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
    :root {
        /* 默认基本背景 */
        --background-color: #000;
        /* 设置所有组件引用的颜色为黑色背景 */
        --rv-white: black;
        /* 默认文本颜色 */
        --rv-text-color: white;
        /* 默认边框颜色 */
        --rv-border-color: white;
        /* 深色模式下的自定义图标颜色 */
        --icon-color: #fff;
        --rv-card-header-color: #fff;
        /* rv卡片背景色 */
        --rv-card-background-color: #181a1b;
        /* 卡片字体颜色 */
        --rv-card-color: #fff;
        /* rv单元格背景色 */
        --rv-cell-background-color: #181a1b;
        /* rv导航栏图标颜色 */
        --rv-nav-bar-icon-color: white;
        /* 按钮边框宽度 */
        --rv-button-border-width: 0;
        --rv-dialog-background-color: #181a1b;
        --rv-dialog-has-title-message-text-color: white;
    }

    .rv-dialog__message {
        color: white;
    }

    .rv-dialog__confirm {
        background-color: #181a1b;
    }
    .rv-dialog__cancel {
        background-color: #181a1b;
    }
    
    

    button {
        background-color: #181a1b;
        /* outline: none; */
        border: 0;
        border-radius: 2vw;
    }

    .vditor-toolbar {
        background-color: var(--background-color) !important;
    }

    .vditor-reset {
        background-color: var(--background-color) !important;
        color: var(--rv-text-color) !important;
    }
    .vditor-hint--current{
        background-color: var(--background-color) !important;
    }
}

/* 浅色模式 */
@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f6f8fc;
        /* rv导航栏图标颜色 */
        --rv-nav-bar-icon-color: black;
    }
}